/*! Place your custom styles here */
.logo-div a {
    text-decoration: none;
}

.link {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    color: black;
    font-size: 20px;
}

.bar .logo {
    max-height: 3.85714286em;
}